config/config.js
rskregtest.json
development.json
development_1.json
mirrorDevelopment.json
test.json
latestBlock.txt
config/federator.key
federator.log
test/lib/*.txt
coverage
manuallyCheck.txt
!db/
db/*
!db/README.md
