infura.key
mnemonic.key
etherscan.key

#Build
/out
/build

#Truffle
.openzeppelin/.session
.openzeppelin/dev-*.json
.openzeppelin/kovan.json
.openzeppelin/mainnet.json
coverage/
coverage.json
.coverage_contracts
.coverage_artifacts
deployed/development.json
deployed/development_1.json
deployed/mirrorDevelopment.json
deployed/soliditycoverage.json

#Hardhat files
cache
artifacts
deployments/development

# Waffle
waffle_flatten

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Script files
arguments.js
