infura.key
mnemonic.key
build
.openzeppelin/.session
.openzeppelin/dev-*.json
.openzeppelin/kovan.json
.openzeppelin/mainnet.json
coverage/
coverage.json
.coverage_contracts
.coverage_artifacts
deployed/development.json
deployed/development_1.json
deployed/mirrorDevelopment.json
deployed/soliditycoverage.json